/* Hero */

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 calc((100vw - 1280px) / 2);
}

.hero__background {
  width: 100%;
  background-color: #fefaf5;
  padding: 5rem 0;
}

.hero__title {
  text-align: left;
  font-size: 3rem;
  font-weight: bold;
  width: 20ch;
  line-height: 1.25;
  margin-bottom: 2.5rem;
}

.hero__copy {
  width: 60ch;
  font-size: 1.15rem;
  line-height: 1.5;
  margin-bottom: 3rem;
}

.hero__image {
  max-width: 35%;
  min-width: 20%;
}

.hero__info {
  order: 2;
}
.hero__title {
  text-align: center;
  font-size: 3rem;
  width: auto;
}
.hero__copy {
  width: auto;
}
.hero__image {
  order: 1;
  margin-bottom: 2rem;
}
.navigation__list {
  margin-top: 1rem;
}

/* Recommendations */

.recommendations {
  width: 1280px;
  margin: 0 calc((100vw - 1280px) / 2);
  margin-bottom: 7rem;
}

.recommendations__title {
  margin-top: 3.5rem;
  margin-bottom: 3rem;
  font-size: 2rem;
  font-weight: bold;
}

.recommendations__card-list {
  display: flex;
  justify-content: space-evenly;
}

.recommendations__card {
  background-size: cover;
  position: relative;
}

.recommendations__link {
  display: inline-block;
  width: 21.25rem;
  height: 31.25rem;
  text-decoration: none;
}

.recommendations__card--hawaii {
  background-image: url(../assets/hawaii.jpg);
}

.recommendations__card--iceland {
  background-image: url(../assets/iceland.jpg);
}

.recommendations__card--greece {
  background-image: url(../assets/greece.jpg);
}

.recommendations__card-destination {
  display: inline-block;
  position: absolute;
  bottom: 1.5rem;
  right: 1.5rem;
  color: white;
  font-size: 2rem;
  font-weight: 600;
  z-index: 2;
}

/* Hero -- responsive */

@media screen and (max-width: 1280px) {
  .hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: auto;
    margin: 0;
    text-align: center;
    flex-direction: column;
    padding: 1.5rem 1.5rem 0.8rem;
  }

/* Recommendations -- responsive */

@media screen and (max-width: 1280px) {
  .recommendations {
    width: auto;
    margin: 0;
  }
  .recommendations__title {
    text-align: center;
  }
  .recommendations__card {
    width: 80%;
    height: 10rem;
    margin-bottom: 3rem;
    background-position: center;
  }
  .recommendations__link {
    width: 80%;
    height: 10rem;
  }
}